!.gitmodule
composer.phar
/data/vendor/
/node_modules/
*.cache
*.log
*.log.*
*.tpl.php
!/html/template/admin
!/html/template/default
!/html/template/install
/phpunit.xml
/tests/tmp/*
/ctests/_output/*
/reports/*
.idea