@charset "UTF-8";
.c-list-item__main {
	width: calc(100% - 130px);
}
.c-hero__main__text {
	margin-bottom: 40px;
}
.c-how_to__main__heading {
	text-align: center;
	font-size: 1.2em;
	font-weight: 800;
	margin: 40px auto 20px;
}
.c-how_to__main__list {
	margin-bottom: 20px;
	text-align: center;
}
.c-top__deliv_free {
	text-align: center;
	font-size: 100%;
	font-weight: 800;
	color: #FD0000;;
}
.c-top__ux_campaign p {
	text-align: center;
	background: #00CD84;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	margin: 20px auto;
	padding: 5px;
}
.c-top__ux_campaign {
	color: #fff;
	font-weight: 600;
}
.c-top__ux_campaign span {
	margin-top: 5px;
	display: block;
}
.c-ex {
	border-top: 1px #ccc solid;
	text-align: center;
	margin-bottom: 40px;
}
.c-ex ul {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: center;
	-webkit-justify-content: center;
}
.c-ex li {
	margin: 20px auto 20px;
	width: 30%;
}
.chain-yamato-howto p {
	font-weight: 200;
	margin-bottom: 10px;
}
.chain-yamato-howto dl dt {
	font-weight: 200;
	margin:  40px auto 5px;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}
.chain-yamato-howto dl dt .houwto_no {
	font-size: 150%;
	margin-right: 10px;
	font-weight: 800;
	color: #00CD84;
	display: block;
	width: 10%;
}
.chain-yamato-howto dl dt .houwto_text {
	width: 90%;
	margin-top: 5px;
}
.chain-yamato-howto .houwto_touch {
	font-size: 120%;
	margin: 0 5px;
	font-weight: 600;
}
.houwto_end_text {
	margin-top: 30px;
}
.chain-help dl {
	margin-bottom: 20px;
}
.chain-help dt {
	cursor: pointer;
	font-weight: 200;
	margin-left: 5%;
	margin-bottom: 10px;
	list-style: disc;
	display: list-item;
}
.chain-help dd {
	display: none;
	padding: 10px;
	margin-left: 5%;
	background: #F4FBFE;;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}
.chain-help dd a {
	font-weight: 600;
}
.c-postage_table {
	max-width: 100%;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.c-postage_table ul {
	max-width: 100%;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}
.c-postage_table li {
	text-align: center;
	width: 14.24%;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 100%;
	padding: 5px 0;
}
.c-postage_table_title_pref,
.c-postage_table_title {
	background: #efefef;
}
.c-postage_table_small {
	font-size: 80%;
	text-align: right;
}