@charset "UTF-8";
.c-list-item__main {
	width: calc(100% - 130px);
}
.c-hero__main__text {
	margin-bottom: 40px;
}
.c-how_to__main__heading {
	text-align: center;
	font-size: 1.2em;
	font-weight: 800;
	margin: 40px auto 20px;
}
.c-how_to__main__list {
	margin-bottom: 40px;
	text-align: center;
}
.c-top__deliv_free {
	text-align: center;
	font-size: 100%;
	font-weight: 800;
	color: #FD0000;;
}
.c-top__ux_campaign p {
	text-align: center;
	background: #00CD84;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	margin: 20px auto;
	padding: 5px;
}
.c-top__ux_campaign {
	color: #fff;
	font-weight: 600;
}
.c-top__ux_campaign span {
	margin-top: 5px;
	display: block;
}