  <footer class="footer">
    <div class="l-container">
      <img src="./assets/img/lp/logo.svg" alt="Chain" class="footer__logo">
      <ul>
          <li><a href="https://bluestyle.jp/contact/index.php" target="_blank" rel="noopenner">お問い合わせ</a></li>
          <li><a href="https://bluestyle.jp/abouts/" target="_blank" rel="noopenner">運営会社</a></li>
          <li><a href="https://bluestyle.jp/guide/privacy.php" target="_blank" rel="noopenner">プライバシーポリシー</a></li>
        </ul>
    </footer>
  </div>
</body>
</html>
