.c-alert {
    &__title {
        font-weight: 700;
        text-align: center;
        font-size: 16px;
        margin-bottom: $unit;
    }
    &--yellow {
        border-radius: $unit;
        padding: 16px;
        margin-top: 16px;
        background: $yellow;
    }

    &--gray {
        border-radius: $unit;
        padding: 16px 8px;
        margin-top: 16px;
        background: #EAECEE;
        justify-content: space-between;
        display: flex;
        align-items: center;

        button {
            margin-left: 16px;
        }
    }

    &__btn {
        margin-top: $unit;
        display: flex;
        color: $white;
        background: #{map-get(map-get($brand-colors, tertiary), dark)};
        padding: $unit*2 $unit;
        border-radius: 4px;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;

        &::after {
            content: '';
            width: 10px;
            height: 15px;
            background: url('data:image/svg+xml;utf8,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.589844 10.59L5.16984 6L0.589844 1.41L1.99984 0L7.99984 6L1.99984 12L0.589844 10.59Z" fill="white"/></svg>') center/ 7px 12px no-repeat;
        }
    }
}
