.c-item {
    display: flex;
    padding-right: $unit*7;
    padding: $unit*2 0;
    border-bottom: 1px solid $border-color-light;

    &--has-icon {
        @extend .c-item;
        padding: $unit*2 $unit*4 $unit*2 0;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 4"><path fill="%239DA4B0" fill-rule="evenodd" d="M2,0A2,2,0,1,0,4,2,2,2,0,0,0,2,0ZM14,0a2,2,0,1,0,2,2A2,2,0,0,0,14,0ZM6,2A2,2,0,1,1,8,4,2,2,0,0,1,6,2Z"/></svg>') center right 4px / 18px auto no-repeat;

        &.--edit {
             background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" fill="%239DA4B0"></path></svg>')
        }
    }

    &__img {
        width: $unit*6;
        height: $unit*6;
        object-fit: cover;
        border-radius: 4px;
        overflow: hidden;
        &.--hidden {
            display: none!important;
        }
        &[src=""] {
            display: none!important;
        }
    }
    &__main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: $unit;
        width: calc(100% - #{$unit*6});
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.3rem;
        font-weight: 500;
        padding-right: 30px;
    }
    &__achievement{
        font-weight: 700;
        color: #2D3748;

        &.--active {
            color: $blue;
        }
    }
    &__request {
        font-weight: 700;
        display: flex;
        align-items: center;
        color: #2D3748;

        &::before {
            content: '';
            display: inline-block;
            width: 14px;
            height: 13px;
            margin-right: $unit;
            background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.99967 12.2333L6.03301 11.3533C2.59967 8.24 0.333008 6.18667 0.333008 3.66667C0.333008 1.61333 1.94634 0 3.99967 0C5.15967 0 6.27301 0.54 6.99967 1.39333C7.72634 0.54 8.83967 0 9.99967 0C12.053 0 13.6663 1.61333 13.6663 3.66667C13.6663 6.18667 11.3997 8.24 7.96634 11.36L6.99967 12.2333Z" fill="%23718096"/></svg>') center / 14px auto no-repeat;
        }
    }

    &--edit {
        @extend .c-item;
        padding-left: 30px;
        background: none;
        position: relative;
        background: #fff;
        transition: transform .2s;

        &.--move {
            z-index: 100;
            box-shadow: 0 1px 6px rgba(#000, .15);
        }
        input[type=file] {
            display: none;
        }
        .c-heading-subtitle {
            display: none;
        }
        .c-item__main {
            justify-content: flex-start;
            height: 48px;
        }
        .c-item__delete-btn,
        .icon {
            display: none;
        }

        &.--hidden {
            display:  none;
        }
    }
    &__back-btn {
        width: calc(100% + #{$unit*6});
        @extend .l-header__inner;
        display: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: #475462;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: url('data:image/svg+xml;utf8,<svg width="13" height="20" viewBox="0 0 13 20" xmlns="http://www.w3.org/2000/svg"><path d="M12.51 1.8701L10.73 0.100098L0.839966 10.0001L10.74 19.9001L12.51 18.1301L4.37997 10.0001L12.51 1.8701Z" fill="%239DA4B0"/></svg>') 24px center/10px auto no-repeat;
        text-align: center;
    }
    &__img-save-btn{
        display: none;
    }
    &--modal {
        position: fixed;
        width: 100%;
        max-width: 768px;
        height: 100%;
        left: 0;

        @include mq($breakpoint: md) {
            left: calc(50% - 768px / 2);
        }//Media Query
        top: 0;
        background: #fff;
        flex-direction: column;
        z-index: 100;
        overflow: auto;
        padding: 0 $unit*3 $footer-nav-height;

        label {
            position: relative;
            display: block;
            margin-bottom: $unit*2;
            height: 0;
            overflow: hidden;
            width: 100%;
            padding-top:100%;
            background: #EDF2F7;
            border-radius: 4px;
            .c-item__img {
               width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            img:not([src=""]){
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
            }
            .icon {
                position: absolute;
                display: block;
                right: 15px;
                bottom: 15px;
                padding: 6px 10px;
                background: rgba(#fff, .4);
                border-radius: 4px;
            }
        }
        .c-item__delete-btn {
            width: 120px;
            display: block;
            margin: 0 auto $unit*4;
        }
        .c-item__main {
            padding: 0;
            width: 100%;
        }
        input[type=file] {
            display: none;
        }
        .c-item__controll-btn,
        .c-item__sort-btn {
            display: none!important;
        }
        .c-item__img {
            width: 100%;
            height: inherit;
        }
        .c-item__back-btn {
            display: block;
        }
        .c-item__img-save-btn {
            display: flex;
        }
        span.c-item__img {
            border-radius: $unit;
            display: block;
            background: #EDF2F7;
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 1.3rem;
        }

        input[type=text] {
            padding: $unit 0;
            font-size: 1.6rem;
            border-bottom: 1px solid $border-color-light;
        }
    }
    span.c-item__img {
        height: 48px;
        display: block;
        background: url('data:image/svg+xml;utf8,<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.6789 11.3337H10.6789V19.3337H8.01221V11.3337H0.012207V8.66699H8.01221V0.666992H10.6789V8.66699H18.6789V11.3337Z" fill="%23fff"/></svg>') center / 19px auto no-repeat map-get($gray-set, 3);

        span {
            display: none;
        }
    }

    &__add-image-btn {
        svg {
            margin-right: $unit;
        }
        &:hover {
            background: $white;
        }
    }

    &__sort-btn {
        left: 0;
        top: 0;
        width: 50px;
        position: absolute;
        height: 100%;
        background: url('data:image/svg+xml;utf8,<svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.3457 0C1.2457 0 0.345703 0.9 0.345703 2C0.345703 3.1 1.2457 4 2.3457 4C3.4457 4 4.3457 3.1 4.3457 2C4.3457 0.9 3.4457 0 2.3457 0ZM0.345703 8C0.345703 6.9 1.2457 6 2.3457 6C3.4457 6 4.3457 6.9 4.3457 8C4.3457 9.1 3.4457 10 2.3457 10C1.2457 10 0.345703 9.1 0.345703 8ZM2.3457 16C3.4457 16 4.3457 15.1 4.3457 14C4.3457 12.9 3.4457 12 2.3457 12C1.2457 12 0.345703 12.9 0.345703 14C0.345703 15.1 1.2457 16 2.3457 16ZM10.3457 2C10.3457 3.1 9.4457 4 8.3457 4C7.2457 4 6.3457 3.1 6.3457 2C6.3457 0.9 7.2457 0 8.3457 0C9.4457 0 10.3457 0.9 10.3457 2ZM8.3457 6C7.2457 6 6.3457 6.9 6.3457 8C6.3457 9.1 7.2457 10 8.3457 10C9.4457 10 10.3457 9.1 10.3457 8C10.3457 6.9 9.4457 6 8.3457 6ZM6.3457 14C6.3457 12.9 7.2457 12 8.3457 12C9.4457 12 10.3457 12.9 10.3457 14C10.3457 15.1 9.4457 16 8.3457 16C7.2457 16 6.3457 15.1 6.3457 14Z" fill="black" fill-opacity="0.3"/></svg>') 8px center / 12px auto no-repeat;
        &.is-pc {
            background: none;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding: 10px 20px 10px 5px;
            &::before,
            &::after {
                width: 10px;
                height: 10px;
                content: '';
                display: block;
                transform: rotate(45deg);
                border-top: 2px solid $border-color;
                border-left: 2px solid $border-color;
            }
            &::after {
                transform: rotate(-135deg);
            }
        }
    }
    &__controll-btn {
        right: 0;
        top: 0;
        width: calc(100% - 30px);
        position: absolute;
        height: 100%;
        &.no-image {
            background: none;
        }
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 4"><path fill="%239DA4B0" fill-rule="evenodd" d="M2,0A2,2,0,1,0,4,2,2,2,0,0,0,2,0ZM14,0a2,2,0,1,0,2,2A2,2,0,0,0,14,0ZM6,2A2,2,0,1,1,8,4,2,2,0,0,1,6,2Z"/></svg>') center right 8px / 14px auto no-repeat;
    }

    &--default {
        a {
            color: $black;
            text-decoration: none;
        }
        &__img {
            display: block;
            border-radius: $unit;
            overflow: hidden;
            position: relative;
            margin-bottom: math.div($unit, 2);
        }
        &__title {
            color: $black;
        }
        &__request {
            position: absolute;
            bottom: 4px;
            right: 4px;
            background: $white;
            border-radius: 16px;
            height: 24px;
            padding: 0 12px;
            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: bold;
            font-size: 12px;
            border: #72c8e2 solid 1px;
            color: #72c8e2;
            line-height: 1;

            &.--active {
                color: $white;
                border: none;
                background: linear-gradient(89.55deg, #33CCFF 0%, #67CC9D 45%, #8FCC51 83%, #9FCC33 100%);

                &::before {
                margin-top: 2px;
                background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.99967 12.2333L6.03301 11.3533C2.59967 8.24 0.333008 6.18667 0.333008 3.66667C0.333008 1.61333 1.94634 0 3.99967 0C5.15967 0 6.27301 0.54 6.99967 1.39333C7.72634 0.54 8.83967 0 9.99967 0C12.053 0 13.6663 1.61333 13.6663 3.66667C13.6663 6.18667 11.3997 8.24 7.96634 11.36L6.99967 12.2333Z" fill="%23ffffff"/></svg>') center / 10px auto no-repeat;
                }
            }


            &::before {
                margin-top: 1px;
                margin-right: 4px;
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.99967 12.2333L6.03301 11.3533C2.59967 8.24 0.333008 6.18667 0.333008 3.66667C0.333008 1.61333 1.94634 0 3.99967 0C5.15967 0 6.27301 0.54 6.99967 1.39333C7.72634 0.54 8.83967 0 9.99967 0C12.053 0 13.6663 1.61333 13.6663 3.66667C13.6663 6.18667 11.3997 8.24 7.96634 11.36L6.99967 12.2333Z" fill="%2372c8e2"/></svg>') center / 10px auto no-repeat;
            }
        }
        &__my-item {
            position: absolute;
            bottom: 34px;
            right: 4px;
            line-height: 22px;
            background: $white;
            color: $blue;
            border: $blue solid 1px;
            font-size: 1rem;
            padding: 0 $unit;
            border-radius: $unit*2;
        }
    }
    &__status {
        display: flex;
        align-items: center;
        & > * {
            display: flex;
            align-items: center;
            margin-right: 6px;
        }
        .status-chained,
        .status-unshipped,
        .status-unselected {
            font-size: 10px;
            padding: 4px 8px;
            height: 22px;
            color: $white;
            line-height: 1;
            align-items: center;
            font-weight: 700;
            margin-right: 8px;
        }

        .status-proccessing {
            font-size: 12px;
            font-weight: bold;
            color: $black;
            padding: 4px 0;
        }

        .status-chained {
            background: $gradient-color;
        }
        .status-unselected {
            background: $green;
        }
        .status-unshipped {
            background: $red;
        }
    }

    &__unpublished {
        margin-right: 4px;
        width: 17px;
        height: 16px;
        display: inline-block;
        background: url('data:image/svg+xml;utf8,<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.62826 2.66667C9.46826 2.66667 10.9616 4.16 10.9616 6C10.9616 6.43333 10.8749 6.84 10.7216 7.22L12.6683 9.16667C13.6749 8.32667 14.4683 7.24 14.9549 6C13.8016 3.07333 10.9549 1 7.62159 1C6.68826 1 5.79492 1.16667 4.96826 1.46667L6.40826 2.90667C6.78826 2.75333 7.19492 2.66667 7.62826 2.66667ZM0.961589 0.846667L2.48159 2.36667L2.78826 2.67333C1.68159 3.53333 0.814922 4.68 0.294922 6C1.44826 8.92667 4.29492 11 7.62826 11C8.66159 11 9.64825 10.8 10.5483 10.44L10.8283 10.72L12.7816 12.6667L13.6283 11.82L1.80826 0L0.961589 0.846667ZM4.64826 4.53333L5.68159 5.56667C5.64826 5.70667 5.62826 5.85333 5.62826 6C5.62826 7.10667 6.52159 8 7.62826 8C7.77492 8 7.92159 7.98 8.06159 7.94667L9.09492 8.98C8.64826 9.2 8.15492 9.33333 7.62826 9.33333C5.78826 9.33333 4.29492 7.84 4.29492 6C4.29492 5.47333 4.42826 4.98 4.64826 4.53333V4.53333ZM7.52159 4.01333L9.62159 6.11333L9.63492 6.00667C9.63492 4.9 8.74159 4.00667 7.63492 4.00667L7.52159 4.01333Z" fill="%23CBD5E0"/></svg>') center / 17px auto no-repeat;
    }
    &__published {
        margin-right: 4px;
        width: 17px;
        height: 16px;
        display: inline-block;
        background: url('data:image/svg+xml;utf8,<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.62825 3C5.29492 3 2.44826 5.07333 1.29492 8C2.44826 10.9267 5.29492 13 8.62825 13C11.9616 13 14.8083 10.9267 15.9616 8C14.8083 5.07333 11.9616 3 8.62825 3ZM8.62825 11.3333C6.78825 11.3333 5.29492 9.84 5.29492 8C5.29492 6.16 6.78825 4.66667 8.62825 4.66667C10.4683 4.66667 11.9616 6.16 11.9616 8C11.9616 9.84 10.4683 11.3333 8.62825 11.3333ZM6.62826 8C6.62826 6.89333 7.52159 6 8.62826 6C9.73492 6 10.6283 6.89333 10.6283 8C10.6283 9.10667 9.73492 10 8.62826 10C7.52159 10 6.62826 9.10667 6.62826 8Z" fill="%23718096"/></svg>') center / 17px auto no-repeat;

    }
}

.sub_large_images li:first-child{
    &.c-item--edit{
        .preview {
            position: relative;
            &::before {
                position: absolute;
                content: 'COVER';
                font-size: 1rem;
                width: 100%;
                text-align: center;
                bottom: 5px;
                left: 0;
                color: $white;
            }
        }
    }
}
.preview.loading::before{
    display: block;
    z-index: 100;
    content: 'UPLOADING';
    letter-spacing: .1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-shadow: 0 0 2px rgba(#000, .2);
    font-size: 20px;
    // background: url('data:image/svg+xml;utf8,<svg width="190" height="190" viewBox="0 0 190 190" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M98.048 190C86.6342 190 76.1711 183.28 71.3821 172.882C70.7167 171.444 69.5046 170.327 68.0133 169.793C67.3656 169.561 66.6883 169.442 66.0169 169.442C65.1376 169.442 64.2582 169.638 63.4501 170.03C59.4812 171.949 55.1973 172.918 50.7173 172.918C42.8863 172.918 35.5188 169.87 29.9753 164.326C21.9007 156.252 19.2507 144.095 23.2316 133.353C23.7841 131.868 23.7128 130.222 23.0414 128.79C22.3701 127.358 21.1461 126.253 19.6547 125.73C7.89636 121.612 0 110.484 0 98.048C0 86.6283 6.72587 76.1592 17.1296 71.3763C18.5674 70.7167 19.6785 69.5047 20.2192 68.0133C20.7539 66.522 20.6708 64.8821 19.9875 63.4561C14.5925 52.2265 16.8741 38.7748 25.6736 29.9812C31.2111 24.4437 38.5787 21.3897 46.4097 21.3897C49.9449 21.3897 53.3851 22.0017 56.6411 23.2138C57.3065 23.4633 58.0017 23.5821 58.6969 23.5821C59.5525 23.5821 60.414 23.392 61.2042 23.0236C62.6361 22.3522 63.7413 21.1283 64.2641 19.6369C68.3935 7.89042 79.5221 0 91.9519 0C103.366 0 113.829 6.71993 118.618 17.1177C119.277 18.5556 120.495 19.6726 121.987 20.2073C122.634 20.4391 123.312 20.5579 123.983 20.5579C124.862 20.5579 125.742 20.3618 126.55 19.9697C130.519 18.0565 134.803 17.0821 139.283 17.0821C147.119 17.0821 154.481 20.136 160.025 25.6736C165.562 31.2111 168.616 38.5787 168.616 46.4157C168.616 49.945 168.004 53.3911 166.792 56.6471C166.239 58.1325 166.311 59.7783 166.982 61.2102C167.654 62.6421 168.878 63.7473 170.369 64.2761C182.115 68.4055 190.006 79.5281 190.006 91.9579C190.006 103.378 183.28 113.847 172.876 118.63C171.438 119.289 170.321 120.501 169.787 121.993C169.252 123.484 169.335 125.124 170.018 126.556C175.413 137.779 173.132 151.231 164.332 160.031C158.795 165.568 151.427 168.622 143.59 168.622C140.061 168.622 136.615 168.01 133.359 166.798C132.693 166.549 131.998 166.43 131.303 166.43C130.441 166.43 129.586 166.62 128.796 166.988C127.364 167.66 126.259 168.884 125.736 170.375C121.606 182.11 110.478 190 98.048 190ZM79.6647 56.451C78.8032 56.451 77.9476 56.6411 77.1514 57.0095C75.7136 57.6868 74.6084 58.9108 74.0856 60.414C72.6299 64.5969 70.2948 68.3104 67.1458 71.4594C64.6444 73.9608 61.7746 75.9572 58.6196 77.407C57.1758 78.0665 56.0588 79.2845 55.5241 80.7758C54.9834 82.2672 55.0725 83.913 55.7617 85.3449C57.6868 89.3258 58.6612 93.5978 58.6612 98.048C58.6612 101.56 58.0433 104.994 56.8312 108.25C56.2787 109.735 56.344 111.387 57.0214 112.825C57.6927 114.263 58.9227 115.368 60.4199 115.891C64.579 117.34 68.2925 119.687 71.4594 122.854C73.943 125.338 75.9393 128.208 77.3891 131.38C78.0486 132.824 79.2607 133.941 80.758 134.482C81.4056 134.714 82.0829 134.832 82.7603 134.832C83.6396 134.832 84.519 134.636 85.333 134.244C89.3198 132.319 93.5918 131.339 98.048 131.339C101.565 131.339 105.006 131.957 108.267 133.175C108.933 133.424 109.634 133.549 110.335 133.549C111.197 133.549 112.052 133.359 112.848 132.99C114.286 132.313 115.391 131.089 115.914 129.586C117.37 125.409 119.705 121.69 122.854 118.541C125.355 116.039 128.219 114.043 131.38 112.593C132.824 111.934 133.935 110.721 134.476 109.224C135.011 107.733 134.927 106.087 134.238 104.655C132.313 100.674 131.339 96.4022 131.339 91.952C131.339 88.4405 131.957 85.0063 133.169 81.7443C133.721 80.2589 133.656 78.6072 132.979 77.1693C132.301 75.7314 131.077 74.6263 129.58 74.1034C125.421 72.6537 121.701 70.3127 118.535 67.1459C116.039 64.6504 114.037 61.7747 112.587 58.6197C111.927 57.1759 110.709 56.0648 109.218 55.5241C108.571 55.2924 107.893 55.1736 107.216 55.1736C106.336 55.1736 105.457 55.3696 104.649 55.7618C100.668 57.6809 96.3962 58.6613 91.946 58.6613C88.4285 58.6613 84.9884 58.0433 81.7264 56.8253C81.061 56.5758 80.3658 56.451 79.6647 56.451Z" fill="%23fff"/></svg>') center / 50px auto no-repeat;
    animation: loading linear 3s infinite;
}
@keyframes loading {
    0% {
        opacity: .5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: .5;
    }
}

.chained {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    &::after {
        transform: rotate(45deg);
        position: absolute;
        right: -20px;
        top: -20px;
        content: '';
        height: 40px;
        width: 40px;
        display: block;
        background: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.64424 9C4.1036 9 3.60799 8.68169 3.38116 8.18916C3.34964 8.12105 3.29222 8.06814 3.22158 8.04281C3.19091 8.03183 3.15882 8.02621 3.12702 8.02621C3.08537 8.02621 3.04372 8.03549 3.00544 8.05407C2.81744 8.14498 2.61453 8.19085 2.40233 8.19085C2.0314 8.19085 1.68242 8.04647 1.41984 7.78388C1.03737 7.4014 0.911848 6.82557 1.10041 6.31672C1.12658 6.24636 1.12321 6.1684 1.0914 6.10057C1.0596 6.03274 1.00163 5.98039 0.930986 5.95563C0.374027 5.76059 0 5.23344 0 4.64438C0 4.10345 0.318584 3.60754 0.811376 3.38098C0.879483 3.34974 0.932112 3.29233 0.957722 3.22168C0.983051 3.15104 0.979111 3.07336 0.946746 3.00582C0.691204 2.47389 0.799275 1.8367 1.21608 1.42016C1.47838 1.15786 1.82736 1.0132 2.19829 1.0132C2.36574 1.0132 2.52869 1.04219 2.68292 1.0996C2.71444 1.11142 2.74737 1.11705 2.78029 1.11705C2.82082 1.11705 2.86163 1.10804 2.89906 1.09059C2.96688 1.05879 3.01923 1.00081 3.044 0.930171C3.23959 0.373757 3.76672 0 4.35548 0C4.89612 0 5.39173 0.318313 5.61856 0.810839C5.6498 0.878948 5.7075 0.931859 5.77814 0.957189C5.80881 0.968166 5.8409 0.973794 5.8727 0.973794C5.91435 0.973794 5.956 0.964507 5.99428 0.945932C6.18228 0.855307 6.38519 0.80915 6.59739 0.80915C6.9686 0.80915 7.3173 0.953812 7.57988 1.21612C7.84218 1.47842 7.98684 1.82741 7.98684 2.19864C7.98684 2.36581 7.95785 2.52905 7.90043 2.68328C7.87426 2.75364 7.87764 2.8316 7.90944 2.89943C7.94124 2.96726 7.99922 3.01961 8.06986 3.04466C8.62625 3.24026 9 3.76712 9 4.3559C9 4.89684 8.68142 5.39274 8.18862 5.6193C8.12052 5.65054 8.06761 5.70796 8.04228 5.7786C8.01695 5.84924 8.02089 5.92692 8.05325 5.99475C8.3088 6.52639 8.20073 7.16358 7.78392 7.5804C7.52162 7.8427 7.17264 7.98737 6.80143 7.98737C6.63426 7.98737 6.47103 7.95838 6.3168 7.90096C6.28528 7.88914 6.25235 7.88351 6.21943 7.88351C6.17862 7.88351 6.13809 7.89252 6.10066 7.90997C6.03283 7.94177 5.98049 7.99975 5.95572 8.07039C5.76012 8.62624 5.233 9 4.64424 9ZM3.77348 2.67399C3.73267 2.67399 3.69214 2.683 3.65443 2.70045C3.58632 2.73253 3.53398 2.79051 3.50921 2.86172C3.44026 3.05985 3.32965 3.23576 3.18049 3.38492C3.06201 3.50341 2.92608 3.59797 2.77663 3.66665C2.70825 3.69789 2.65534 3.75558 2.63001 3.82622C2.6044 3.89687 2.60862 3.97483 2.64126 4.04265C2.73245 4.23122 2.7786 4.43358 2.7786 4.64438C2.7786 4.81071 2.74934 4.97339 2.69192 5.12762C2.66575 5.19798 2.66885 5.27622 2.70093 5.34433C2.73273 5.41244 2.79099 5.46479 2.86191 5.48956C3.05891 5.55823 3.23481 5.6694 3.38481 5.81941C3.50245 5.93705 3.59702 6.07299 3.66569 6.22328C3.69693 6.29167 3.75434 6.34458 3.82526 6.37019C3.85594 6.38117 3.88802 6.3868 3.9201 6.3868C3.96176 6.3868 4.00341 6.37751 4.04197 6.35893C4.23081 6.26775 4.43316 6.22131 4.64424 6.22131C4.81084 6.22131 4.9738 6.25058 5.1283 6.30827C5.15982 6.3201 5.19303 6.32601 5.22624 6.32601C5.26705 6.32601 5.30758 6.317 5.34529 6.29955C5.4134 6.26747 5.46574 6.20949 5.49051 6.13828C5.55946 5.94043 5.67006 5.76424 5.81923 5.61508C5.93771 5.49659 6.07336 5.40203 6.22308 5.33335C6.29147 5.30211 6.3441 5.2447 6.36971 5.17378C6.39504 5.10313 6.3911 5.02517 6.35845 4.95735C6.26727 4.76878 6.22111 4.56642 6.22111 4.35562C6.22111 4.18929 6.25038 4.02661 6.3078 3.8721C6.33397 3.80174 6.33087 3.7235 6.29879 3.65539C6.26671 3.58728 6.20873 3.53493 6.13781 3.51016C5.9408 3.44149 5.76463 3.3306 5.61462 3.18059C5.49642 3.06239 5.40158 2.92617 5.33291 2.77672C5.30167 2.70833 5.24397 2.6557 5.17333 2.63009C5.14266 2.61911 5.11057 2.61348 5.07849 2.61348C5.03684 2.61348 4.99518 2.62277 4.95691 2.64135C4.76835 2.73225 4.566 2.77869 4.3552 2.77869C4.18859 2.77869 4.02564 2.74942 3.87113 2.69173C3.83961 2.6799 3.80669 2.67399 3.77348 2.67399Z" fill="%23fffe"/></svg>') center bottom 3px / 9px auto no-repeat,$gradient-color;

    }
}
