.c-list {
    &--dot {
        li {
            margin-left: 1em;
            text-indent: -1em;

            &::before {
                display: inline-block;
                width: 1em;
                text-indent: 0;
                content: '・';
            }
        }
    }

    &--order {
        counter-reset: num;
        li {
            counter-increment: num;
            margin-left: 1.5em;
            text-indent: -1.5em;
            margin-bottom: $unit;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                display: inline-block;
                width: 1.5em;
                text-indent: 0;
                content: counter(num)'.';
            }
        }
    }
    &--dl {
        dd {
            margin-bottom: $unit*2;
        }
        dt {
            .attention {
                display: inline-block;
                margin-left: $unit;
            }
            margin-bottom: math.div($unit, 2);
            @include font('sub-title-bold');
            color: $gray;
        }
    }
}
