.c-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    border: 1px solid #000;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: 800;
    background: #fff;
    transition: .5s .2s;
    opacity: 0;
    overflow: hidden;
    height: 70%;

    &[data-modal_mode=detail] .swiper-container {
        display: none;
    }
     &[data-modal_mode=myitem] .c-modal__btn {
         display: block;
     }
    .c-modal__btn {
        margin: $unit*3 0 #{-$unit*4};
        display: none;
    }
    &__inner {
        display: block;
        overflow: auto;
        padding: 0 $unit*3 $unit*3;
        a {
            pointer-events: none;
        }
        .c-modal__inner__head {
            margin: 0 #{-$unit*3} 0;
        }
        .l-header__inner, .c-btn--report {
            display: none;
        }
    }

    .swiper-container {
        margin-right: 1px;
        height: 100%;
    }

    li {
        list-style: none;
        height: auto;
    }

    &__bg {
        position: fixed;
        width: 0;
        height: 0;
        background: rgba(#000, .3);
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity .1s;
        z-index: 700;
    }

    &.--active {
        opacity: 1;
        transform: translateY(0);


        & ~ .c-modal__bg {
            width: 100%;
            opacity: 1;
            height: 100%;
        }
        figure {
            opacity: 1;
        }
    }
    &__close-btn {
        display: flex;
        padding: $unit $unit*2;
        height: 48px;
        font-size: 0;
        width: 100%;

        &::after {
            font-size: 2rem;
            content: '×';
        }
    }
    figure {
        width: 100%;
        display: block;
        height: 100%;
        opacity: 0;
        transition: opacity .5s .5s;
    }
    &__img {
        position: relative;
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    &__caption {
        padding: $unit*2 $unit*2 $unit*4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background:  linear-gradient(180deg, rgba(71, 84, 98, 0.5) 0%, rgba(71, 84, 98, 0) 100%);
        color: #fff;
        text-shadow: 0 1px 0 rgba(#000, .15);
        font-size: 1.6rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__controll {
        &__prev,
        &__next {
            position: absolute;
            top: 48px;
            height: calc(100% - 48px);
            width: $unit*4;
            display: flex;
            justify-content: center;
            align-items: center;
        }
         &__prev {
             left: 0;

        }
        &__next {
             right: 0;
         }
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        color: #ccc;
        font-size: 20px;
    }


}
