%notification {
    position: fixed;
    z-index: 900;
    top: 60px;
    width: calc(100% - #{$unit*6});
    left: $unit*3;
    border-radius: $unit;
    padding: $unit;
    color: $white;
    font-weight: 500;
    display: none;
}

.c-notification {
    &--secondary {
        background: #{map-get(map-get($brand-colors, secondary), dark)};
        @extend %notification;
    }
    &--default {
        background: $gray;
    }
    &--gradient {
        background: $gradient-color;
        @extend %notification;
    }
    &--tertiary {
        @extend %notification;
        background: #{map-get(map-get($brand-colors, tertiary), default)};
         color: $black;
    }
}
