.c-prohibited {
    &__content {
        display: none;
        position: fixed;
        width: 90%;
        height: 90%;
        left: 5%;
        top: 5%;
        background: #FFFFFF;
        z-index: 700;
        overflow: auto;
        border-radius: 16px;
        padding: 24px;

        ul,p {
            margin-bottom: 16px;
        }
        ul li{
            margin-left: 24px;
            text-indent: -24px;
            &::before {
                display: inline-block;
                width: 24px;
                text-indent: 0;
                content: '・';
            }
        }
    }
    &__btn-close {
        @extend .c-btn--default;
    }
}
