.l-header {

    &__inner {
        position: relative;
        margin: 0 #{-$unit*3} $unit*2;
        padding: 0 56px;
        align-items: center;
        max-width: $container;
        display: flex;
        justify-content: center;
        height: $header-height;
    }

    &--item {
        left: 0;
        position: fixed;
        background: $white;
        width: 100%;
        z-index: 300;
    }
}
