.l-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
    justify-content: center;
    align-items: center;
    display: none;

    &:not([data-item_mode=false]){
        display: flex;
    }

    &__close {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: rgba(#000, .2);
        z-index: -1;
    }

    &__inner {
        background: $white;
        width: 80%;
        padding: $unit*3;
        border-radius: $unit*2;
        text-align: center;

        li {
            height: $unit*6;
            a, button, span {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
            }
        }
    }
}
